[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
numpy = "*"
matplotlib = "*"

[dev-packages]
tensorboard = "*"

[requires]
python_version = "3.9"
